@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
  @apply font-japanese;
}

@layer utilities {
  /* using vertical writing style (e.g. Japanese) */
  .writing-vertical {
    writing-mode: vertical-rl;
  }

  /* using vertical writing style (e.g. Japanese) */
  .font-feature-vrt2 {
    font-feature-settings: "vrt2";
  }
}
