@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "biz";
  src: url("../assets/biz-udgothic-regular.ttc");
  font-weight: 400;
  style: normal;
}

@font-face {
  font-family: "biz";
  src: url("../assets/biz-udgothic-bold.ttc");
  font-weight: 700;
  style: normal;
}

@font-face {
  font-family: "yumin";
  src: url("../assets/yumin.ttf") format("truetype");
  font-weight: 400;
  style: normal;
}

@font-face {
  font-family: "japanese";
  src: url("../assets/japanese.ttf") format("truetype");
  font-weight: 400;
  style: normal;
}

@font-face {
  font-family: "yumin";
  src: url("../assets/yumindb.ttf") format("truetype");
  font-weight: 700;
  style: normal;
}

body {
  overflow-x: hidden !important;
  @apply font-biz;
}

@layer utilities {
  /* using vertical writing style (e.g. Japanese) */
  .writing-vertical {
    writing-mode: vertical-rl;
  }

  /* using vertical writing style (e.g. Japanese) */
  .font-feature-vrt2 {
    font-feature-settings: "vrt2";
  }

  .hero-display {
    font-size: clamp(90px, 10vw, 200px);
  }

  .hero-h1 {
    font-size: clamp(36px, 7vw, 100px);
    line-height: 1.2;
  }

  .intro-section-md-grid {
    grid-template-areas:
      "... text2 ..."
      "text1 img text3";
  }
}

.intro-section {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "text1 text2 text3"
    "img img img";
  grid-template-columns: repeat(3, 1fr);
  @apply md:intro-section-md-grid;
}

.intro-section-text1 {
  grid-area: text1;
}

.intro-section-text2 {
  grid-area: text2;
}

.intro-section-text3 {
  grid-area: text3;
}
.intro-section-img {
  grid-area: img;
}

/* menu animations */

/* menu fade in out */

/* classes */
.menu-anim-fade-in {
  animation: menu-fade-in 0.5s ease forwards;
}
.menu-anim-fade-out {
  animation: menu-fade-out 0.5s ease forwards;
  pointer-events: none;
  animation-delay: 0.9s;
}

/* keyframes */
@keyframes menu-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* menu text drop anim */

/* classes */
.menu-anim-text-down {
  animation: menu-text-down 0.5s ease forwards;
  animation-delay: 0.6s;
}

.menu-anim-text-down-delay {
  animation: menu-text-down 0.5s ease forwards;
  animation-delay: 0.9s;
}

.menu-anim-text-up {
  animation: menu-text-up 0.5s ease forwards;
  animation-delay: 0.3s;
}

.menu-anim-left-down {
  animation: menu-left-down 0.5s ease forwards;
  animation-delay: 0.2s;
}

.menu-anim-left-up {
  animation: menu-left-up 0.5s ease forwards;
}

/* keyframes */
@keyframes menu-text-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem) scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scaleY(1);
  }
}

@keyframes menu-text-up {
  0% {
    opacity: 1;
    transform: translateY(0px) scaleY(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem) scaleY(0.8);
  }
}

@keyframes menu-left-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes menu-left-up {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

/* text slide to right */

/* classes */
.text-anim-slide-right {
  animation: text-slide-right 0.7s ease forwards;
  animation-delay: 0.5s;
}

/* keyframes */
@keyframes text-slide-right {
  from {
    transform: translateX(-1rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.anim-text-slide-down {
  animation: text-slide-down 0.8s ease forwards;
  transform: translateY(-2.3rem);
}

.anim-text-slide-down-delay {
  @apply anim-text-slide-down;
  animation-delay: 0.5s;
}
@keyframes text-slide-down {
  from {
    transform: translateY(-2.3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.text-anim-slide-left {
  animation: text-slide-left 0.7s ease forwards;
  transform: translateX(1rem);
  opacity: 0;
  animation-delay: 0.5s;
}
@keyframes text-slide-left {
  from {
    transform: translateX(0.5rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.anim-fade-in-grow {
  animation: fade-in-grow 0.5s ease forwards;
  animation-delay: 1s;
  opacity: 0;
  transform: scale(0.95);
}
@keyframes fade-in-grow {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.grow-anim {
  transform-origin: top;
  animation: grow 0.5s ease forwards;
}
@keyframes grow {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.anim-grow-right {
  transform-origin: top;
  animation: grow-right 0.5s ease forwards;
  animation-delay: 0.5s;
}
@keyframes grow-right {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.menu-btn:hover .menu-btn-bar {
  animation: menu-btn-hover 0.3s ease forwards;
}

.menu-btn:hover .menu-btn-text {
  animation: menu-btn-hover-text 0.5s ease forwards;
  animation-delay: 0s;
}

.menu-btn:not(:hover) .menu-btn-bar {
  transform: translateY(-100%);
  animation: menu-btn-hover-reverse 0.3s ease forwards;
}

.menu-btn:not(:hover) .menu-btn-text {
  animation: menu-btn-hover-text-reverse 0.5s ease forwards;
  animation-delay: 0s;
}

.menu-btn.show .menu-btn-text {
  animation: none;
  opacity: 0;
}

.menu-btn.show .menu-btn-bar {
  animation: none;
  @apply translate-y-0;
}

@keyframes menu-btn-hover {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes menu-btn-hover-text {
  from {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(80%, -50%);
    opacity: 1;
  }
}

@keyframes menu-btn-hover-reverse {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes menu-btn-hover-text-reverse {
  from {
    transform: translate(80%, -50%);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

@import url("./hero.css");
