@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "biz";
  src: url("../assets/biz-udgothic-regular.ttc");
  font-weight: 400;
  style: normal;
}

@font-face {
  font-family: "biz";
  src: url("../assets/biz-udgothic-bold.ttc");
  font-weight: 700;
  style: normal;
}

@font-face {
  font-family: "yumin";
  src: url("../assets/yumin.ttf") format("truetype");
  font-weight: 400;
  style: normal;
}

@font-face {
  font-family: "japanese";
  src: url("../assets/japanese.ttf") format("trutype");
  font-weight: 400;
  style: normal;
}

@font-face {
  font-family: "yumin";
  src: url("../assets/yumindb.ttf") format("trutype");
  font-weight: 700;
  style: normal;
}

body {
  overflow-x: hidden !important;
  @apply font-biz;
}

@layer utilities {
  /* using vertical writing style (e.g. Japanese) */
  .writing-vertical {
    writing-mode: vertical-rl;
  }

  /* using vertical writing style (e.g. Japanese) */
  .font-feature-vrt2 {
    font-feature-settings: "vrt2";
  }
}
