.intro-text {
  animation: introTextUp 0.8s ease forwards;
}

.intro-messy-lines {
  animation: messyLinesGrow 1s ease forwards;
}

@keyframes introTextUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes messyLinesGrow {
  to {
    @apply scale-100 opacity-100;
  }
}
